
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 60% 20%;
}


header{
    background-color: aqua;
}

.main{
    background-color:blue ;
}

footer{
    background-color: brown;
}